a
  color: red

b
  color: blue

.uk-icon
	>svg
		&:nth-child(2)
			display: none

.uk-button-success
	background-color: #8cc14c

[v-cloak]
    display: none

.other-sounds
	display: absolute
	width: 130px
	background: #ccc
	padding: 10px 10px 10px 25px
	border: 1px solid #666
	text-align: left
