{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "build/vendor/uikit/css/uikit.css" %}" />
        <script src="{% static "build/vendor/uikit/js/uikit.js" %}"></script>
        <script src="{% static "build/vendor/uikit/js/uikit-icons.js" %}"></script>
    </head>

	<body class="uk-height-1-1">
		<div class="uk-flex uk-flex-center uk-flex-middle uk-background-muted uk-height-viewport">
            <div class="uk-width-medium uk-padding-small">
        {% block content %}
        {% endblock %}
            </div>
        </div>
    </body>
</html>